body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #68a6e8;
}

.result-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 500px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.search-container {
    width: 500px;
    margin-bottom: 20px;
}

.search-container form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

.search-container h2 {
    text-align: center;
    padding-bottom: 10px;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 12px 10px;
    border: none;
    outline: none;
}

.search-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.query-result {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.result-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item strong {
    font-size: 16px;
    color: #333;
}

.result-item span {
    font-size: 14px;
    color: #777;
}